* {
  }
  
  html {
    background-color: lightgray;
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    margin: 0;
    font-family: ;
  }
  

  
  input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
  }
  
  ol, ul {
    list-style: none;
  }