.navbar {
    margin-top: 32px;
    border: 4px ;
    background-color: rgb(68, 76, 102)grey;
    padding-right: 75px;
}
.header-list-items {
    color: teal;
    text-decoration: underline;
    display: inline-flex;
}
.small-teal-box {
    display: inline;
    margin: 20px 0px 20px 0px;
    background-color:rgb(85, 226, 236);
    padding-right: 25px;
    padding-left: 75px;
}
.h1-box {
    border: 4px;
    background-color: rgb(49, 55, 71);
    width: 100%;
       
}
.large-heading-txt { 
    margin-right: 30px;
    font-size: 300%;
}
#headerh1 {
  color: rgb(49, 55, 71);
}
h3 {
    padding: 0px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.aboutme-margin-top {
    margin-top: 50px;
    padding-left: 35px;
}
.banner-background {
    background-image: url('02-hero-bg.jpg');
    filter: opacity(1);
    background-size: cover;
    height: 150px;
    width: 100%;
    background-color: rgb(1 58 137);
    background-blend-mode: screen;
}
.banner-background-02 {
    background-image: url('02-portfolio-1.jpg');
    background-size: cover;
    height: 150px;
    width: 450px;
    margin: 15px;
    border: 8px solid rgb(85, 226, 236);
}
.banner-background-03 {
    background-image: url('02-portfolio-2.jpg');
    background-size: cover;
    height: 150px;
    width: 450px;
    margin: 15px;
    border: 8px solid rgb(85, 226, 236);
}
.banner-background-04 {
    background-color: darkcyan;
    background-size: cover;
    height: 150px;
    width: 450px;
    margin: 15px;
    border: 8px solid rgb(85, 226, 236);
}
.banner-background-05 {
    background-image: url('02-run-buddy.jpg');
    background-size: cover;
    height: 150px;
    width: 450px;
    margin: 15px;
    border: 8px solid rgb(85, 226, 236);
}
.big-project-background {
    background-image: url('02-portfolio-4.jpg');
    background-size: cover;
    height: 600px;
    width: 950px;
    margin: 15px;
    border: 8px solid rgb(85, 226, 236);
}
.small-border-background-surf {
    background-color: rgb(85, 226, 236);
    margin: 500px 800px 0px 0px;
}
.small-border-background {
    background-color: rgb(85, 226, 236);
    margin: 75px 325px 0px 0px;
}
.small-border-background02 {
    background-color: rgb(85, 226, 236);
    margin: 75px 300px 0px 0px;
}
.small-border-background03 {
    background-color: rgb(85, 226, 236);
    margin: 75px 275px 0px 0px;
}
.small-border-background04 {
    background-color: rgb(85, 226, 236);
    margin: 75px 325px 0px 0px;
}
.small-projects-flex {
    display: flex;
    flex-wrap: wrap;
    flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    /*demo*/
    margin-bottom: 10px;
}
.small-projects-flex02 {
    display: flex;
    flex-wrap: wrap;
}
.small-projects-flex03 {
    display: flex;
    flex-wrap: wrap;
}
.small-projects-flex04 {
    display: flex;
    flex-wrap: wrap;
}
#banner-picture-subtitle {
    border: 10px;
    background-color:rgb(85, 226, 236);
    margin: 40px 75px;
}

.body-padding {
    padding-left: 150px;
    padding-right: 250px;
}
.first-project-outerbox {
    display: block;
    border: 4px solid rgb(85, 226, 236);
    
}
.first-project-innerbox {
    display: inline-block;
    background-color: rgb(85, 226, 236);
    border: 4px solid rgb(85, 226, 236);
   
     margin: 10px 10px 10px 0px;
}

.outer-box { 
 
    border: 4px solid rgb(85, 226, 236);
    padding: 50px 150px 50px 150px;
}

.inner-box {
    display: inline-block;
    background-color: rgb(85, 226, 236);
    border: 4px solid rgb(85, 226, 236);
    padding: px;
    margin: 10px 10px 40px -20px;

}
.straight-line-divider {
        height: 200px; /* Set the height of the div to 200 pixels */
        border-right: 5px solid rgb(49, 55, 71);; /* Add a solid black border to the top of the div */
      }
.straight-line-divider02 {
    height: 1000px;
    border-right: 5px solid rgb(49, 55, 71); 
}

.header-flex-container {
    display: inline-flex;
    justify-content: space-between;
}

.flex-wrapping {
    display: flex;
    flex-wrap: wrap;
}
.flex-wrapping02 {
    display: flex;
    margin-top: 75px;
}
.paragraph-margin {
    margin-left: 50px;
}
.flex-container {
    display: inline-flex;
}
.flex-container-02 {
    display: inline-flex;
    justify-content: flex-end; 
}
.flex-container-03 {
    display: inline-flex;
    justify-content: center;
    padding-left: 46px;  
}
.flex-container-04 {
    display: flex;
    flex-flow: column;
    margin-left: 30px;
}
.box-img-first-project {
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 400px;
  }
#led-wall-img {
    background-image: url('02-portfolio-1.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 250px;
}
.wall-node-outerbox {

}
#calculator-rjc-img {
    background-image: url('02-portfolio-2.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 250px;
}

#pretzel-puzzels-img {
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 250px;
}

#run-buddy-img {
    background-image: url('02-run-buddy.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 250px;
}




/*     In the example above, the display: inline-block; property
 makes the container behave like an inline element, but with the ability 
 to set a width and height. This causes the border to wrap only around the 
 content within the container, rather than stretching to the full width of
 its parent element.    */
.inline-flex {
display: inline-flex;
}

.inline-flex-02 {
    display: inline-flex;
    justify-content: flex-end;
}
  


/*  Footer CSS */
.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-self: center;


}
.straight-line-divider-02 {
    height: 200px; /* Set the height of the div to 200 pixels */
    border-right: 5px solid rgb(49, 55, 71);; /* Add a solid black border to the top of the div */
    display: flex;
}
.footer-list-attributes {
    color: rgb(49, 55, 71);
    text-decoration: underline;
    margin: 0 20px 0 20px;
    
}
.footer-wrapper-02 {
    display: inline-block;
}

.footer-flex {
 display: fl;
}

.paragraph-text-size {
    font-size: 20px;
}
@media screen and (max-width: 1350px) {
    .body-padding {
       padding-left: 10px;
        }
      }

@media screen and (max-width: 1024px) {
    .body-padding {
         padding-left: ;
         padding-right: 0px;
        }
      }
      @media screen and (max-width: 500px) {
        body {
          max-width: 100%;
          overflow-x: hidden;
        }
      }
 @media screen and (max-width: 500px) {
        .flex-container-02 {
             display: inline-flex;
             flex-direction: column;
             justify-content: center;
            align-items: center;
            }
        .straight-line-divider{
            display: none;
        }
        .aboutme-margin-top{
            padding-left: 0px
        }
        .flex-container-03 {
            padding-left: 0px;
        }
        .straight-line-divider02 {
            display: none;
        }
        .flex-container-03 {
            display: inline-block;
        }
        .flex-container-04 {
            margin-left: 0px;
        }
        .big-project-background {
            width: 300px;
            height: 325px;
        }
        .banner-background-02 {
            width: 300px;
        }
        .banner-background-03 {
            width: 300px;
        }
        .banner-background-04 {
            width: 300px;
        }
        .banner-background-05 {
            width: 300px;
        }
        .mediaquery-column{
            padding-top: 50px;
            padding-left: 0px;
        }
        .flex-wrapping02 {
            flex-direction: column-reverse;
            align-items: center;
            white-space: pre-line;
            padding-left: 0px;
        }
        .navbar {
            padding-right: 0px;
        }
        .contact-padding {

        }
        .paragraph-margin {
            margin-left: 0px;
        }
        .display-inline {
            display: inline;
            
        }
        .large-heading-txt {
           
        }
        .small-border-background-surf {
            margin: 225px 165px 0px 0px;
        }
          
         /*  This showed me a good reminder that the order of operation goes top to bottom. If I place
          the .me-padding ccs decloration above the .large-heading-txt class declaration then it will not apply
          the 120px padding-left attribute because the large-heading-txt overwrites it if it was placed underneath 
          .me-padding class dec.
         */
        .me-padding {
            padding-left: 60px;
        }
        
    }





          @media screen and (min-width: 501px) {
            .mediaquery-column {
                padding-left: 50px;
            
            }
          }